<div class="hero-unit">
  <p>众里<span class="text-info">找Ta</span>千百度</p>
  <p>蓦然回首，那人却在灯火阑珊处</p>
  <p>
    <a class="btn btn-primary btn-large" href="/login">登录</a>
    <a class="btn btn-large" href="/reg">立即注册</a>
  </p>
</div>

<div id="topics"></div>

<script src="/js-lib/ejs/ejs_production.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="/js/index/index.js"></script>